.popup__text-error {
  position: absolute;
  width: 100%;
  left: 0;
  top: 183px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
}

.popup__text-error:first-of-type {
  top: 127px;
}

@media screen and (min-width: 600px) {
  .popup__text-error {
    top: 164px;
  }

  .popup__text-error:first-of-type {
    top: 107px;
  }
}
