.profile__job {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 14px 0 0;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__job {
    font-size: 18px;
    line-height: 1.22;
  }
}
