.footer {
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .footer {
    max-width: calc(282px * 2 + 17px);
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    max-width: calc(282px * 3 + 17px * 2);
    margin: 0 auto;
  }
}
