.element__trash {
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  height: 19px;
  width: 18px;
  transition: 0.2s;
  border: none;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
